body{
    background-color: white;
}


.items-container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    border-spacing: 40px;
    width: 30%;
    margin: 10px;
    padding: 10px;
    border: 5px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}
.item img{
    max-width: 200px;
    max-height: 250px;
}

.limits{
    font-size: 40px
}
.limits a {
    border: 2px solid black;
    text-decoration: none;
    margin-left: 10px
}
.pages {
    display: flex;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
}

.pages a{

    font-size: 40px;
    font-weight: 600;
    border: 3px solid black;
}
.pages span{
    font-size:40px;
}
.add_item{
    size: 40px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.user_container{
    display: flex;


    }


.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}